<h1>Editing Book</h1>

<p><%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %></p>

 <h5>Title</h5>
 <%= f.text_field :Title %>

 <h5>Body</h5>
 <%= f.text_field :Body %>
 <%= f.submit 'Update Book' %>

<% end %>

<p>
  <a href="<%= book_path(@book) %>">Show</a>
  <span>|</span>
  <a href="<% book_path(@book) %>">Back</a>
</p>