
<div class="edit-title">
 <h1>Editing Book</h1>
</div>


<%= form_with model: @bookb, url: update_book_path(@bookb.id), method: :patch do |f| %>

<div class="edit-text-title">
    <h5>Title</h5>
 <%= f.text_field :title %>
</div>
 
<div class="edit-text-body">
    <h5>Body</h5>
 <%= f.text_field :body %> 
</div>

<div class="edit-ok">
   <%= f.submit 'Update Book' %>  
</div>

<% end %>

<div class="edit-jump-w">
　<%= link_to "Show", book_path, style: "color:black;" %><!--showへ-->
  <span>|</span>
  <%= link_to "Back", index_book_path, style: "color:black;" %>　<!--indexへ-->
</div>
 