<h1>Editing Book</h1>

<p><%= form_with model: @bookb, url: update_book_path(@bookb.id), method: :patch do |f| %></p>

 <h5>Title</h5>
 <%= f.text_field :title %>

 <h5>Body</h5>
 <%= f.text_field :body %>

 <%= f.submit 'Update Book' %>

<% end %>

<p>
  <%= link_to "Show", book_path %>　<!--showへ-->
  <span>|</span>
  <%= link_to "Back", index_book_path %>　<!--indexへ-->
</p>