<div class="destroy-flash">
  <%= flash[:notice] %>
</div>

<div class="new-large">
  <h1>Books</h1>
</div>
　
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>

    
    <% @booka.each do |bookb| %>
    <tr>
     <td>
       <div class="test-me">
         <%= bookb.title %>
       </div>
     </td>
     <td>
       <div class"text-i">
          <%= bookb.body %>
       </div>
     </td>
     <td>
       <div class="show-jump">
         <%= link_to "Show", book_path(bookb.id), style: "color:black;" %>　<!--showへ-->
       </div>
     </td>
     <td>
       <div class="edit-jump">
          <%= link_to "Edit", edit_book_path(bookb.id), style: "color:black;" %>　<!--editへ-->
       </div>
     </td>
     <td>
       <div class="destroy">
          <%= link_to "Destroy", destroy_book_path(bookb.id), style: "color:black;", method: :delete, "data-confirm"=>"Are you sure?" %>
       </div>
     </td>
     
    </tr>
    <% end %>
    
  </tbody>
</table>

<div class="new-book">
  <h2>New Book</h2>
</div>

<!--エラーを教えてくれるよ-->
<% if @book.errors.any? %>
<div class="new-error">

  <div class="new-error-text">
    <h6>
      <%= @book.errors.count %> errors prohibited this book from being saved:
    </h6>
  </div>


    
     <div class="new-error-message">
     <% @book.errors.full_messages.each do |message| %>
        <ul>
        <li><%= message %></li>
        </ul>
     <% end %>
     </div>
    
    <div class="error-red-1">
    </div>
    <div class="error-red-2">
    </div>
    <div class="error-red-3">
    </div>
    <div class="error-red-4">
    </div>
  
  
</div>
<% end %>


<!--新しいフォーム-->


<%= form_with model: @book, method: :post do |f| %>
<div class="new-for-title">
  <p>Title</p>
  <%= f.text_field :title %>
</div>

<div class="new-for-body">
 <p>Body</p>
 <%= f.text_area :body %>
</div>

<div class="new-for-create">
 <p>
   <%= f.submit 'Create Book' %>
 </p>
</div>

<% end %>

