<div class="new-large">
  <h1>Books</h1>
</div>

  
<div class="new-table">
  <h4>Title</h4>
  <h4>Body</h4>
</div>
  

<div class="new-book">
  <h2>New Book</h2>
</div>



<div class="new-error">
  <%= form_with model: @book do |f| %>
  <% if @book.errors.any? %>
  
  <div class="new-error-text">
    <h6>
      <%= @book.errors.count %>errors prohibited this book from being saved:
    </h6>
  </div>
  
  <div class="new-error-code">
    <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
   </ul>
  </div>
  <% end %>
</div>

<div ="new-for-title">
  <p>Title</p>
  <%= f.text_field :title %>
</div>
 
<div ="new-for-body">
 <p>Body</p>
 <%= f.text_area :body %>
</div> 

<div ="new-for-create">
 <p>
   <%= f.submit 'Create Book' %>
 </p>
</div>
<% end %>


