<div class="show-title">
  <h5><%= flash[:notice] %></h5>
</div>

<div class="show-deta-title">
  <h4>Title:</h4>
  <%= @bookb.title %>
</div>

<div class="show-data-body">
  <h4>Body:</h4>
  <%= @bookb.body %>
</dib>

<div class="show-menu">
 <p>
  <%= link_to "Edit", edit_book_path %>　<!--editへ-->
  <span>|</span>
  <%= link_to "Back", index_book_path %>　<!--indexへback-->
 </p>
</div>


